In [21]:
import pandas as pd
import numpy as np
import spacy
import random
import train
import re

from sklearn.metrics import *
from sklearn.model_selection import train_test_split

# DataFrame

In [22]:
categories = {
    'CHARACTERS': ['character', 'characters', 'Arthur Fleck', 'Murray Franklin', 'Sophie Dumond', 'Penny Fleck', 'mother', 'mum'],
    'TALENT': ['actor', 'actress', 'actors', 'talent', 'director', 'Joaquin Phoenix', '#JoaquinPhoenix', 'Robert De Niro', 'Zazie Beetz', 'Frances Conroy', 'Todd Philips'],
    'PLOT': ['plot', 'frame', 'scene', 'scenes'],
    'TICKETS': ['ticket', 'tickets', 'presale'],
    'SOUNDTRACK': ['music', 'song'],
    'SPECIAL EFFECTS': ['FX', 'visual effects', 'graphics', 'postproduction'],
    'COSTUME DESIGN': ['costum', 'costumes', 'costume designer'],
    'HYPE': ['hype', 'hyyyype', 'amazing', 'awesome', 'desire', 'desires', 'premiere', 'Cant wait'],
    'BOX OFFICE': ['box office'],
    'REVIEWS': ['review', 'reviews'],
    'TRAILER':['trailer', 'trailers']
}

In [23]:
df = pd.read_csv('input/#jokermovie.csv')

In [24]:
dfText = df[['id', 'text']][:100]

In [25]:
dfText['category'] = dfText.apply(lambda x: train.category(x['text'], categories), axis=1)

# Word embedding
Text to vector

In [ ]:
#https://towardsdatascience.com/a-beginners-guide-to-word-embedding-with-gensim-word2vec-model-5970fa56cc92

#https://towardsdatascience.com/multi-class-text-classification-model-comparison-and-selection-5eb066197568

In [40]:
dfText.head()

                    id  text    category
0  1180633752885743616   NaN        PLOT
1  1180633751744913408   NaN
2  1180633723932483584   NaN
3  1180633642198077441   NaN        HYPE
4  1180633577693880321   NaN  CHARACTERS

In [27]:
col = ['id', 'text']
X = dfText[col]
y = dfText['category']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)